doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Styleguide
    link(href=root + 'assets/css/highlight/prism.css', rel='stylesheet')
    link(href=root + 'assets/css/theme.css', rel='stylesheet')
    link(href=root + 'css/common.css', rel='stylesheet')

  body.aigis-body
    .aigis-wrapper
      include ./header
      div.aigis-inner
        include ./components
        footer.aigis-footer Last update at #{timestamp}

    script(href=root + 'js/jquery-2.2.0.min.js')
    script(href=root + 'js/bundle/bundle.js')
    script(href=root + 'js/common.js')
    script(href=root + 'assets/js/script.js')
